.header {
  padding: 30px 80px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 800px;
  background-image: url(../images/background_header.svg);
  position: relative;
  background-size: cover;
}
.header__paragraph {
  margin: 0px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__title {
  margin: 183px 80px 0 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: 729px;
}

.header__description {
  margin: 28px 80px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__span-accent {
  color: #3f96f3;
  display: block;
  font-family: "Times New Roman", Helvetica, sans-serif;
  font-style: italic;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-right: 80px;
  align-items: flex-end;
}
