.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 800px;
  background-image: url(../images/background_header.svg);
  position: relative;
  background-size: cover;
}

.header__paragraph {
  margin: 0px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  column-gap: 20px;
  padding: 0px;
  margin: 0px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  left: 1111px;
}

.header__title {
  margin: 183px 80px 0 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: 729px;
}

.header__description {
  margin: 28px 80px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.content {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__span-accent {
  color: #3f96f3;
  display: block;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-right: 80px;
  align-items: flex-end;
}

.recipes {
  color: white;
  background-color: #0a2750;
  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 215px;
}

.recipes__title {
  margin: 0px 0px 24px;
}

.recipes__subtitle {
  margin: 0px 0px 80px;
}

.recipes__videos {
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
  list-style: none;

  /* background-color: #3f96f3; */
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}

iframe {
  border: none;
}

.reservation {
  padding: 100px 0 120px;
}

.reservation__title {
  margin-bottom: 80px;
  text-align: center;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: -2px 0 32px;
  border: 1px solid #838383;
  vertical-align: middle;
}

.form__button {
  background-color: #2072a6;
  color: #ffffff;
  width: 100%;
  padding: 20px 0;
  border: none;
  border-radius: 4px;
  margin-bottom: 32px;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  align-items: center; /* Vertical alignment */
  gap: 8px; /* Spacing adjustment */
  line-height: 1.2; /* Adjust line height to match the checkbox */
}
